<h1><%= @character.name %> (<%= @character.job %>)</h1>

<table>
  <tr>
    <th>HP</th>
    <th>SP</th>
    <th>Attack</th>
    <th>Defense</th>
    <th>Speed</th>
  </tr>

  <tr>
    <% @character.stats.each do |stat| %>
    <td><%= stat %></td>
    <% end %>
  </tr>
</table>